html,
body,
ul,
ol,
video {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

#timer {
  display: inline-block;
  border-radius: 7px;
  overflow: hidden;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 2rem;
}

#timer > .hours,
#timer > .minutes,
#timer > .seconds {
  float: left;
  text-align: center;
  min-width: 30px;
  background-color: teal;
  padding: 2px 4px;
}

#timer > .splitter {
  float: left;
  padding: 2px 4px;
  background-color: orange;
  font-weight: bolder;
}

#timer.running > .splitter {
  -webkit-animation-name: timertick;
          animation-name: timertick;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes timertick {
  from {
    color: #ffffff;
  }
  to {
    color: orange;
  }
}

@keyframes timertick {
  from {
    color: #ffffff;
  }
  to {
    color: orange;
  }
}

.meet {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.meet > video {
  background: #222;
  min-width: 100%;
  min-height: 100%;
}

.meet > .controls {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  bottom: 4px;
}

.meet > .controls > li {
  margin: 15px 5px;
}

.meet > .controls > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.meet > .controls > li > a.microphone::before {
  content: '\f3c9';
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.meet > .controls > li > a.microphone:hover, .meet > .controls > li > a.microphone.mute {
  border-color: #eb4d4b;
}

.meet > .controls > li > a.microphone:hover::before, .meet > .controls > li > a.microphone.mute::before {
  content: '\f539';
  color: #eb4d4b;
}

.meet > .controls > li > a.call-end::before {
  content: '\f095';
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.meet > .controls > li > a.call-end:hover {
  border-color: #eb4d4b;
}

.meet > .controls > li > a.call-end:hover::before {
  color: #eb4d4b;
}

.meet > .controls > li > a.camera::before {
  content: '\f03d';
  color: #ffffff;
}

.meet > .controls > li > a.camera:hover, .meet > .controls > li > a.camera.off {
  border-color: #eb4d4b;
}

.meet > .controls > li > a.camera:hover::before, .meet > .controls > li > a.camera.off::before {
  content: '\f4e2';
  color: #eb4d4b;
}

@media screen and (min-width: 320px) {
  .meet > video {
    min-width: 100%;
    min-height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */